:root {
  --blue: #2A5B79;
  --brown: #3c281f;
  --gold: #f9d904;
  --white: #fff;
  --lightgray: #e0e0e0;
  --orange: #FFC338;
  --sand: #e8e2d0;
}

html {
  background-color: var(--blue);
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
}

div {
  max-width: 1200px;
  margin: 0 2rem;
}

h1 {
  color: var(--gold);
  font-family: 'Candal';
  font-size: 6rem;
  line-height: .9;
  text-transform: lowercase;
  margin: 15% 0 0.75rem;
  word-spacing: -1rem;
}

h2 {
  font-size: 1.3rem;
  margin: 0;
  font-style: italic;
  font-weight: normal;
}

a {
  color: var(--orange);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  font-size: 1.1rem;
  font-style: normal;
  margin: 1rem 0 0;
  padding: 0;
  display: flex;
}

li {
  &:not(:first-of-type) {
    margin-left: 0.75rem;
  }
}


@media (max-width: 850px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    margin-top: 1.25rem;
  }
}
